$primary-background-color: rgb(190 222 27);
$base-background-color: #ffff;
$letter-base-color: #ffff;
$title-font-size: 1.5rem;
$toolbar-font-size: 1rem;
$menu-background-color: rgb(57 62 6);
$menu-title-font-size: 1rem;
$main-background-color: #f1f1f1;