@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

// cSpell: ignore Jost
$font-family-basic: "Jost";
$font-weight-basic: 400;
$font-weight-bold: bold;
$font-size-scale-1: 1.5em;
$font-size-scale-2: 1em;
$font-size-scale-3: 0.75em;
$background-color-basic: #141414;